{% extends 'sidebar_dashboard.html' %}
{% block page_content %}

<div id="content">
    {% include 'includes/header.html' %}
    <div class="main-content">

        <div class="row ">
            {% include 'includes/prod_create.html' %}
        </div>
        {% include 'includes/footer.html' %}
    </div>
</div>
{% endblock page_content %}
{% block page_script %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('#content').toggleClass('active');
        });

        $('.more-button,.body-overlay').on('click', function () {
            $('#sidebar,.body-overlay').toggleClass('show-nav');
        });

    });
</script>

{% endblock page_script %}