<div class="col-lg-5 col-md-12">
    <div class="card" style="min-height: 485px">
        <div class="card-header card-header-text">
            <h4 class="card-title">Activities</h4>
        </div>
        <div class="card-content">
            <div class="streamline">
                <div class="sl-item sl-primary">
                    <div class="sl-content">
                        <small class="text-muted">5 mins ago</small>
                        <p>Williams has just joined Project X</p>
                    </div>
                </div>
                <div class="sl-item sl-danger">
                    <div class="sl-content">
                        <small class="text-muted">25 mins ago</small>
                        <p>Jane has sent a request for access to the project folder</p>
                    </div>
                </div>
                <div class="sl-item sl-success">
                    <div class="sl-content">
                        <small class="text-muted">40 mins ago</small>
                        <p>Kate added you to her team</p>
                    </div>
                </div>
                <div class="sl-item">
                    <div class="sl-content">
                        <small class="text-muted">45 minutes ago</small>
                        <p>John has finished his task</p>
                    </div>
                </div>
                <div class="sl-item sl-warning">
                    <div class="sl-content">
                        <small class="text-muted">55 mins ago</small>
                        <p>Jim shared a folder with you</p>
                    </div>
                </div>
                <div class="sl-item">
                    <div class="sl-content">
                        <small class="text-muted">60 minutes ago</small>
                        <p>John has finished his task</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>